Here is the question:
<question>{{question}}</question>

Here is the fact which has already been extracted:
<fact>{{fact}}</fact>

And here is the text where you can find all additional information that will be needed to answer the question:
<text>{{text}}</text>