Here Are the facts:
    - <fact>{{fact_a}}</fact>
    - <fact?{{fact_b}}</fact>
Now using only information which you have gained from the facts answer this question:
<question>{{question}}</question>
